#wrap {
	width: 900px;
	margin: 0 auto;
		}
.left {
	width: 400px;
	float: left;
	font-family: 'Open Sans Condensed', sans-serif;
}
.right {
	width: 400px;
	float: right;
	font-family: 'Roboto', sans-serif;
}
.donate {
	font-size: 30px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}
html.article{
	margin: 0: auto;
	width: 900px;

}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
}
body {
	background-image: url(https://st.depositphotos.com/1172243/1788/i/950/depositphotos_17883015-stock-photo-light-grey-textured-fabric-background.jpg);
}