body{
  margin: auto;
  max-width: inherit;
  border-style: double;
  border-width: 10px;
  padding: 15px;
  border-color: firebrick;
  background-image:url("https://st.depositphotos.com/1172243/1788/i/950/depositphotos_17883015-stock-photo-light-grey-textured-fabric-background.jpg");
  min-width: inherit;
}
ul{
  text-align: center;
  list-style-type: none;

}
h1.logo{
  text-align: all;
	font-family: 'Bungee Shade', cursive;
	font-size: 29px;
	background-color: black;
	color: white;
	width: 230px;
	position: relative;
	top: -32px;
	left: -15px;
	z-index: 1;
}
h2 {
  border: none;
  background: cadetblue;
  color: #f2f2f2
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}
h2{
  transform-style: preserve-3d;
}
h2:after{
  top: -100%;
  left: 0px;
  width: 100%;
  position: absolute;
  background: firebrick;
  border-radius: 5px;
  content: 'Directions Below';
  transform-origin: left bottom;
  transform: rotateX(90deg);
}
h2:hover{
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}
img{
  border: 2px solid black;
}
